<n3-neck>
    <a class='bread-crumbs' [routerLink] = '["/institution"]'>Образовательные организации</a>
    <br>↓<br>
    <a class='bread-crumbs' (click) = 'back()'>{{_institution.name}}</a>
    <br>↓
    <h1>Здание</h1>
</n3-neck>
<n3-columns context='form'>
  <column-1>
    <form [formGroup]="form" (submit)='onSubmit()'>
      <anchor-target name='common'></anchor-target>
      <h2>Общие сведения</h2>

      <n3-input
          [title] = '"Наименование"'
          [placeholder] = '"Наименование"'
          formControlName = 'name'
      ></n3-input>

      <n3-select
          [title] = '"Статус"'
          [placeholder] = '"Статус"'
          [fromMethod] = 'statusService'
          formControlName = 'status'
      ></n3-select>

      <n3-select
          [title] = '"Тип"'
          [placeholder] = '"Тип"'
          [fromMethod] = 'typeService'
          formControlName = 'type'
      ></n3-select>

      <n3-select
          [title] = '"Вид местности"'
          [placeholder] = '"Вид местности"'
          [fromMethod] = 'terrainService'
          formControlName = 'terrain'
      ></n3-select>

      <edit-capacity
          [title] = '"Вместительность"'
          [limit] = '1'
          (onDelete) = 'onCapacityDelete($event)'
          formControlName = 'capacity'
      ></edit-capacity>

      <n3-checkbox
          [title] = '"Головное здание"'
          formControlName = 'is_head'
      ></n3-checkbox>

      <anchor-target name='contacts'></anchor-target>
      <h2>Контактная информация</h2>

      <edit-address 
          [title] = '"Почтовый адрес"'
          (onDelete) = 'onAddressDelete($event)'
          [limit] = '1'
          formControlName = 'address'
      ></edit-address>

      <anchor-target name='equipment'></anchor-target>
      <h2>Оснащение</h2>

      <edit-equipment
        [title] = '"Оснащение"'
        formControlName = 'equipment'
      ></edit-equipment>
      

      <div class='buttons-array' fly>
          <div class='create-new-btn btn' (click)='onSubmit()'>
              <span class='text'>Сохранить</span>
          </div> 

          <div class='transparent-btn btn' (click)='back()'>
              <span class='text'>Отменить</span>
          </div>
        </div>
    </form>
  </column-1>
  <column-2>
    <anchor-menu 
      [list]='anchorList'
      [anchors]='anchors'
    ></anchor-menu>
  </column-2>
</n3-columns>
