<n3k-neck>
  <h1>Образовательные организации</h1>
  <div class='buttons-array'>
    <div class='create-new-btn btn' [routerLink]='["edit"]'>
      <span class='icon'><i class='fa fa-plus-circle' aria-hidden="true"></i></span>
      <span class='text'>Добавить</span>
    </div> 
  </div>
  <div class='tab-array'>
    <div class='tab' [class.active]='isActiveMap' (click)='selectedTab = "map"'>На карте</div>
    <div class='tab' [class.active]='isActiveList' (click)='selectedTab = "list"'>Списком</div>
  </div>
</n3k-neck>
<n3k-columns context='list'>
  <column-1>
    <form class='padding-right-1-column' [formGroup]='filter' (ngSubmit)='onFilterSubmit()'>
      <n3k-input
        [title] = '"Поиск"'
        [placeholder] = '"Поиск"'
        [searchIcon] = 'true'
        formControlName = 'p_query'
      ></n3k-input>

      <n3k-select
        [title] = '"Район"'
        [placeholder] = '"Район"'
        [multi] = 'true'
        [fromMethod] = 'districtsService'
        formControlName = 'p_districts'
      ></n3k-select>

      <n3k-select
        [title] = '"Уровень образования"'
        [placeholder] = '"Уровень образования"'
        [multi] = 'true'
        [fromMethod] = 'educationLeveService'
        formControlName = 'p_education_levels'
      ></n3k-select>

      <n3k-select
        [title] = '"Тип организации"'
        [placeholder] = '"Тип организации"'
        [multi] = 'true'
        [fromMethod] = 'institutionTypesService'
        formControlName = 'p_institution_types'
      ></n3k-select>

      <n3k-select
        [title] = '"Форма собственности"'
        [placeholder] = '"Форма собственности"'
        [multi] = 'true'
        [fromMethod] = 'okfsesService'
        formControlName = 'p_okfses'
      ></n3k-select>

      <n3k-select
        [title] = '"Статус организации"'
        [placeholder] = '"Статус организации"'
        [multi] = 'true'
        [fromMethod] = 'institutionStatusesService'
        formControlName = 'p_institution_statuses'
      ></n3k-select>

      <!--<n3k-checkbox
        [title] = '"Показывать заблокированные"'
        formControlName = 'p_deleted'
      ></n3k-checkbox>-->

    </form>
  </column-1>
  <column-2>
    <div *ngFor='let item of list.items' class='list-item' (click)='selectListItem(item.identity.id)'>
      <div><h3>{{item.name}}</h3></div>
      <div><i class='fa fa-flag status-{{item.status.id}}'></i> {{item.status.name}}</div>
      <div>
        {{item.address.origin_address}}
        <span *ngIf="getFromArray(item.contacts, 'phone')">, {{getFromArray(item.contacts, 'phone')}}</span>
        <span *ngIf="getFromArray(item.contacts, 'email')">, {{getFromArray(item.contacts, 'email')}}</span>
      </div>
    </div>
  </column-2>
  <column-3 *ngIf='selectedTab === "map"'>
    <ya-map [latitude]="55.76" [longitude]="37.64">
      <ya-marker [latitude]="55.847" [longitude]="38.6">
      </ya-marker>
      <ya-marker [latitude]="55.847" [longitude]="35.6">
      </ya-marker>
    </ya-map>
  </column-3>
  <column-3 *ngIf='selectedTab === "list"'>
      LIST
  </column-3>
</n3k-columns>
