
<div class='title'>
  {{title}}
</div>

<div *ngIf='canAddNew && !_editState'>
    <div class='buttons-array'>
        <div class='default-btn btn' (click)='_editState = true'>
            <span class='icon'><i class="fa fa-plus" aria-hidden="true"></i></span>
            <span class='text'>Добавить адрес</span>
        </div> 
    </div>
</div>

<div class = 'clones' *ngIf='_editState' >
    <n3k-select
      [title] = '"Регион"'
      [placeholder] = '"Регион"'
      [fromMethod] = 'regionService'       
      [(ngModel)]='_address.fias.region'
      name='region'
    >
    </n3k-select>
    <div class='buttons-array'>
      <div class='create-new-btn btn' (click)='submit()'><span class='text'>Сохранить</span></div>
      <div class='transparent-btn btn' (click)='cancel()'><span class='text'>Отменить</span></div>
    </div>
</div>


<div class = 'clones' *ngIf='!_editState && !canAddNew'>
  <div>
    <div class='view-text'>
      {{viewFrom}}
    </div>

    <div class='controll'>
      <span class='controll-element' (click)='_editState = true'>
        <i class='fa fa-pencil'>&nbsp;</i>
        <span class='text'>Редактировать</span>
      </span>
      <span class='controll-element' (click)='deleteMe()'>
        <i class='fa fa-trash'>&nbsp;</i>
        <span class='text'>Удалить</span>
      </span>
    </div>
  </div>
</div>