<n3-columns context='view'>
  <column-1 *ngIf='_publicDigitalServiceList'>
    <div class='quarter-list'>
      <div class='quarter-part' *ngFor='let publicDigitalService of _publicDigitalServiceList.items'> 
        <h2>{{publicDigitalService.service.name}}</h2>
        <div class='buttons-array'>
          <div class='default-btn btn'>
              <span class='icon'><i class="fa fa-pencil" aria-hidden="true"></i></span>
              <span class='text'>Редактировать</span>
          </div>
          <div class='transparent-btn btn'>
              <span class='icon'><i class="fa fa-trash" aria-hidden="true"></i></span>
          </div> 
        </div>
        <div class='description-block'>
          <div class='description-block-title'>Ссылка на ЕПГУ:</div>
          <a [href]='publicDigitalService.epgu_url'>{{publicDigitalService.epgu_url}}</a>
        </div>
        <div class='description-block'>
          <div class='description-block-title'>Ссылка на РПГУ:</div>
          <a [href]='publicDigitalService.rpgu_url'>{{publicDigitalService.rpgu_url}}</a>
        </div>
        <div class='description-block'>
          <div class='description-block-title'>Ссылка на порядок оказания услуг:</div>
          <a [href]='publicDigitalService.documentation_url'>{{publicDigitalService.documentation_url}}</a>
        </div>
       
      </div>
    </div>
  </column-1>
</n3-columns>
