
<div class='title'>
  {{title}}
</div>

<div *ngIf='canAddNew' >
    <div class='buttons-array'>
        <div class='default-btn btn' (click)='addNew()'>
            <span class='icon'><i class="fa fa-plus" aria-hidden="true"></i></span>
            <span class='text'>Добавить</span>
        </div> 
    </div>
</div>
<div class='clones' *ngFor='let contact of _contacts; let i = index'>
  <div *ngIf='_editState[i]' >
      
      <n3k-select
        [title] = '"Тип"'
        [placeholder] = '"Тип"'
        [(ngModel)] = 'contact.type'
        [fromMethod] = 'contactTypeService'
        name='type'
      ></n3k-select>
      
      <n3k-input
        [title] = '"Адрес (номер)"'
        [placeholder] = '"Адрес (номер)"'
        [(ngModel)] = 'contact.value'
        name = 'value'
      ></n3k-input>

      <div class='buttons-array'>
        <div class='create-new-btn btn' (click)='submit(i)'><span class='text'>Сохранить</span></div>
        <div class='transparent-btn btn' (click)='cancel(i)'><span class='text'>Отменить</span></div>
      </div>
  </div>

  <div *ngIf='!_editState[i]'>
    <div>
      <div class='view-text'>
        <div class='description-block'>
          <div class='description-block-title'>
            Тип:
          </div>
          {{contact.type.name}}
        </div>

        <div class='description-block'>
          <div class='description-block-title'>
            Адрес (номер):
          </div>
          {{contact.value}}
        </div>
      </div>

      <div class='controll'>
        <span class='controll-element' (click)='_editState[i] = true'>
          <i class='fa fa-pencil'>&nbsp;</i>
          <span class='text'>Редактировать</span>
        </span>
        <span class='controll-element' (click)='deleteMe(i)'>
          <i class='fa fa-trash'>&nbsp;</i>
          <span class='text'>Удалить</span>
        </span>
      </div>
    </div>
  </div>
</div>