<n3k-neck>
    <a class='bread-crumbs' [routerLink] = '["/institution"]'>Образовательные организации</a>
    <br>↓<br>
    <a class='bread-crumbs' (click) = 'back()'>{{_institution.name}}</a>
    <br>↓
    <h1>Подразделение ораганизации</h1>
</n3k-neck>
<n3k-columns context='form'>
  <column-1>
    <form [formGroup]="form" (submit)='onSubmit()'>
        <anchor-target name='common'></anchor-target>
        <h2>Общие сведения</h2>

        <edit-job
            [title] = '"Руководитель"'
            (onDelete) = 'onHeadDelete()'
            formControlName = 'head'
        ></edit-job>

        <!--<n3k-select
            [title] = '"Статус"'
            [placeholder] = '"Статус"'
            [fromMethod] = ''
            formControlName = ''
        ></n3k-select>-->

        <n3k-select
            [title] = '"Вид"'
            [placeholder] = '"Вид"'
            [fromMethod] = 'kindService'
            formControlName = 'kind'
        ></n3k-select>

        <n3k-select
            [title] = '"Головное подразделение"'
            [placeholder] = '"Головное подразделение"'
            [fromMethod] = 'parentService'
            formControlName = 'parent'
            [beforeSetValue] = 'beforeParntSetValue'
            [beforeGetValue] = 'beforeParntGetValue'
        ></n3k-select>

        <n3k-datepicker 
            [options]="foundationDateOptions"
            formControlName="foundation_date"
        >
        </n3k-datepicker>
        
        <n3k-datepicker 
            [options]="liquidationDateOptions"
            formControlName="liquidation_date"
        >
        </n3k-datepicker>

        <n3k-input
            [title] = '"Наименование"'
            [placeholder] = '"Наименование"'
            formControlName = 'name'
        ></n3k-input>

        <edit-capacity
            [title] = '"Вместительность"'
            [limit] = '1'
            (onDelete) = 'onCapacityDelete($event)'
            formControlName = 'capacity'
        ></edit-capacity>

        <n3k-checkbox
            [title] = '"Располагается на базе другого учреждения"'
            formControlName = 'is_based_on_another_organization'
        ></n3k-checkbox>

        <anchor-target name='contacts'></anchor-target>
        <h2>Контактная информация</h2>

        <edit-address 
            [title] = '"Почтовый адрес"'
            (onDelete) = 'onAddressDelete($event)'
            [limit] = '1'
            formControlName = 'address'
        ></edit-address>


        
        
        <div class='buttons-array' fly>
            <div class='create-new-btn btn' (click)='onSubmit()'>
                <span class='text'>Сохранить</span>
            </div> 

            <div class='transparent-btn btn' (click)='back()'>
                <span class='text'>Отменить</span>
            </div>
        </div>
    </form>
  </column-1>
  <column-2>
    <anchor-menu 
      [list]='anchorList'
      [anchors]='anchors'
    ></anchor-menu>
  </column-2>
</n3k-columns>
