<fieldset [formGroup]="form">
  <h2>Орган общественного управления</h2>

  <n3-select
    [title] = '"Форма"'
    [placeholder] = '"Форма"'
    [fromMethod] = 'publicAdministrationFormService'
    formControlName = 'public_administration_form'
  ></n3-select>

  <n3-input
    [title] = '"Основания для создания"'
    [placeholder] = '"Основания для создания"'
    formControlName = 'foundation_cause'
  ></n3-input>

  <n3-datepicker 
    [options]="foundationDateOptions"
    formControlName="foundation_date"
  >
  </n3-datepicker>

  <n3-datepicker 
    [options]="liquidationDateOptions"
    formControlName="liquidation_date"
  >
  </n3-datepicker>

  <n3-input
    [title] = '"Полномочия"'
    [placeholder] = '"Полномочия"'
    formControlName = 'powers'
  ></n3-input>

</fieldset>