<!--<app-neck>
  <span class='neck-title'>
    Образовательные организации
  </span>
  
  <a class='neck-buttons' [routerLink]="['/institution/edit']">
    <div class='create-button'>
      <i class="fa fa-plus-circle" aria-hidden="true"></i> Добавить
    </div>
  </a>
  
  <div class='neck-tabs'><a [routerLink]="['/institution/map-list']">На карте</a></div>
  <div class='neck-tabs selected'><a [routerLink]="['/institution/list']">Списком</a></div>
  
</app-neck>

<app-column position=1 of=3 state='list'>C1</app-column>
<app-column position=2 of=3 state='list'>C2</app-column>
<app-column position=3 of=3 state='list'>C3</app-column>-->