<n3k-neck>
    <a [routerLink] = '["/institution"]'>Поиск организаций</a>
    <br>↓
    
    <h1>{{institution.publication.title}}</h1>


    <div class='status-array'>
        <div *ngIf='!institution.is_delete' class='status status-deleted'>
            <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
        <div class='status status-{{institution.status?.id}}'>
            <i class="fa fa-flag"></i> {{institution.status?.name}}
        </div>
    </div>

    <div class='buttons-array'>
        <div class='default-btn btn'>
            <span class='icon'><i class="fa fa-bars" aria-hidden="true"></i></span>
            <span class='text'>Действия</span>
        </div> 
    </div>

    <div class='tab-array'>
        <a class='tab' *ngFor='let tab of tabs' [routerLink]='[tab.link]'  [class.active]='' >{{tab.name}}</a>
    </div>
</n3k-neck>

<n3k-columns context='view'>
  <column-1>11</column-1>
  <column-2>
    <ul>
      <li *ngFor='let division of divisionsList'>
        <div class='division' (click) = 'selectedDivision = division.id' [class.active]='division.id === selectedDivision'>
          <div class='delimiter'>&nbsp;</div>
          {{division.name}}
        </div>
        <ul>
          <li *ngFor='let children of division.childrens'>
            <div  class='children' (click) = 'selectedDivision = children.id' [class.active]='children.id === selectedDivision'>
              <div class='delimiter'>&nbsp;</div>
              {{children.name}}
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </column-2>
</n3k-columns>