<n3-columns context='view'>
  <column-1>
    <table *ngIf='_contract' style='width:100%'>
      <tr>
        <td colspan='4'>
          <h1>{{_contract.subject.name}}</h1>
          <div class='buttons-array'>
            <div class='default-btn btn'>
                <span class='icon'><i class="fa fa-pencil" aria-hidden="true"></i></span>
                <span class='text'>Редактировать</span>
            </div>
            <div class='transparent-btn btn'>
                <span class='icon'><i class="fa fa-trash" aria-hidden="true"></i></span>
            </div> 
          </div>
        </td>
      </tr>
      <div *ngFor = 'let document of _contract.document'>
        <tr>
          <td colspan='2' style='width:50%'>
            <h2>Реквизиты документа</h2>
            <div class='description-block'>
              <div class='description-block-title'>Описание:</div>
              {{document.description}}
            </div>  
          </td>
          <td colspan='2' style='width:50%'>
            <h2>Характеристики</h2>
            <div class='description-block'>
              <div class='description-block-title'>Количество групп:</div>
              {{_contract.group_count}}
            </div>
            <div class='description-block'>
              <div class='description-block-title'>Учреждения с которыми подписывается:</div>
              {{_contract.contragent_institution}}
            </div>
          </td>
        </tr>
        <tr>
          <td style='width:25%'>
            <div class='description-block'>
              <div class='description-block-title'>Статус:</div>
              {{document.status.name}}
            </div>
            <div class='description-block'>
              <div class='description-block-title'>Серия:</div>
              {{document.series}}
            </div>
            <div class='description-block'>
              <div class='description-block-title'>Номер:</div>
              {{document.number}}
            </div>
            <div class='description-block'>
              <div class='description-block-title'>Регистрационный номер:</div>
              {{document.reg_number}}
            </div>
            <div class='description-block'>
              <div class='description-block-title'>Дата регистрации:</div>
              {{document.reg_date}}
            </div>
          </td>
          <td style='width:25%'>
            <div class='description-block'>
              <div class='description-block-title'>Дата выпуска:</div>
              {{document.issue_date}}
            </div>
            <div class='description-block'>
              <div class='description-block-title'>Кто выпустил:</div>
              {{document.issued_by}}
            </div>
            <div class='description-block'>
              <div class='description-block-title'>Действителен от:</div>
              {{document.valid_from}}
            </div>
            <div class='description-block'>
              <div class='description-block-title'>Действителен до:</div>
              {{document.valid_to}}
            </div>
            <div class='description-block'>
              <div class='description-block-title'>Файлы:</div>
              
            </div>
          </td>
          <td style='width:25%'></td>
          <td style='width:25%'></td>
        </tr>
      </div>
    </table>
  </column-1>
  <column-2>
     <ul class='tree-list' >
      <li *ngFor='let contract of _contractList?.items'>
        <div class='item' [class.active]='selectedContract === contract.identity.id' (click)='selectContract(contract.identity.id)'>
          <div class='item-delimiter'>&nbsp;</div>
          {{contract.subject.name}}
        </div>
      </li>
    </ul>
  </column-2>
</n3-columns>