<n3-neck>
    <a class='bread-crumbs' [routerLink] = '["/institution"]'>Поиск организаций</a>
    <br>↓
    <h1>{{institution?.publication.title}}</h1>
    
    <div class='status-array'>
        <div *ngIf='institution?.is_delete' class='status status-deleted'>
            <i class="fa fa-lock" aria-hidden="true"></i>
        </div>
        <div class='status status-{{institution?.status?.id}}'>
            <i class="fa fa-flag"></i> {{institution?.status?.name}}
        </div>
    </div>

    <div class='buttons-array'>
        <div class='default-btn btn'>
            <span class='icon'><i class="fa fa-bars" aria-hidden="true"></i></span>
            <span class='text'>Действия</span>
        </div> 
    </div>

    <div class='tab-array'>
        <div class='tab' *ngFor='let tab of tabs' (click)='openTab(tab.id)' [class.active]='tab.id == selectedTab'>{{tab.name}}</div>
    </div>

    <div *ngIf='selectedTab === "departments"'>
        <h2>Подразделения</h2>
        <div class='buttons-array'>
            <div class='create-new-btn btn' [routerLink] = '["edit"]'>
                <span class='icon'><i class="fa fa-plus" aria-hidden="true"></i></span>
                <span class='text'>Добавить</span>
            </div> 
        </div>
        <div class='horizontal-separator'>&nbsp;</div>
    </div>
    <div *ngIf='selectedTab === "buildings"'>
        <h2>Здания</h2>
        <div class='buttons-array'>
            <div class='create-new-btn btn' [routerLink] = '["edit"]'>
                <span class='icon'><i class="fa fa-plus" aria-hidden="true"></i></span>
                <span class='text'>Добавить</span>
            </div> 
        </div>
        <div class='horizontal-separator'>&nbsp;</div>
    </div>
    <div *ngIf='selectedTab === "territories"'>
        <h2>Территория организации</h2>
        <div class='buttons-array'>
            <div class='create-new-btn btn' [routerLink] = '["edit"]'>
                <span class='icon'><i class="fa fa-plus" aria-hidden="true"></i></span>
                <span class='text'>Добавить</span>
            </div> 
        </div>
        <div class='horizontal-separator'>&nbsp;</div>
    </div>
    <div *ngIf='selectedTab === "contracts"'>
        <h2>Договор с учреждениями на осуществление образовательной деятельности</h2>
        <div class='buttons-array'>
            <div class='create-new-btn btn' [routerLink] = '["edit"]'>
                <span class='icon'><i class="fa fa-plus" aria-hidden="true"></i></span>
                <span class='text'>Добавить</span>
            </div> 
        </div>
        <div class='horizontal-separator'>&nbsp;</div>
    </div>
    <div *ngIf='selectedTab === "education-services"'>
        <h2>Образовательные услуги</h2>
        <div class='buttons-array'>
            <div class='create-new-btn btn' [routerLink] = '["edit"]'>
                <span class='icon'><i class="fa fa-plus" aria-hidden="true"></i></span>
                <span class='text'>Добавить</span>
            </div> 
        </div>
    </div>
    <div *ngIf='selectedTab === "electronic-services"'>
        <h2>Государственные и муниципальные услуги в электронном виде</h2>
        <div class='buttons-array'>
            <div class='create-new-btn btn' [routerLink] = '["edit"]'>
                <span class='icon'><i class="fa fa-plus" aria-hidden="true"></i></span>
                <span class='text'>Добавить</span>
            </div> 
        </div>
    </div>
    <div *ngIf='selectedTab === "innovations"'>
        <h2>Инновации</h2>
        <div class='buttons-array'>
            <div class='create-new-btn btn' [routerLink] = '["edit"]'>
                <span class='icon'><i class="fa fa-plus" aria-hidden="true"></i></span>
                <span class='text'>Добавить</span>
            </div> 
        </div>
        <div class='horizontal-separator'>&nbsp;</div>
    </div>
</n3-neck>

<!--<app-common *ngIf='selectedTab === "common"' [institution]='institution' [params]='params'></app-common>-->
<app-departments *ngIf='selectedTab === "departments"' [institution]='institution' [params]='params'></app-departments>
<!--<app-buildings *ngIf='selectedTab === "buildings"' [institution]='institution' [params]='params'></app-buildings>-->
<!--<app-territories *ngIf='selectedTab === "territories"'  [institution]='institution' [params]='params'></app-territories>-->
<!--<app-contracts *ngIf='selectedTab === "contracts"'  [institution]='institution' [params]='params'></app-contracts>-->
<!--<app-education-services *ngIf='selectedTab === "education-services"'  [institution]='institution' [params]='params'></app-education-services>-->
<!--<app-electronic-services *ngIf='selectedTab === "electronic-services"'  [institution]='institution' [params]='params'></app-electronic-services>-->
<!--<app-innovations *ngIf='selectedTab === "innovations"'  [institution]='institution' [params]='params'></app-innovations>-->
