<n3k-neck>
  <a class='bread-crumbs' [routerLink] = '["/institution"]'>Образовательные организации</a>
    <br>↓
    <h1>Образовательная организация</h1>
</n3k-neck>
<n3k-columns context='form'>
  <column-1>
    <form [formGroup]="form" (submit)='onSubmit()'>

      <anchor-target name='organization'></anchor-target>

      <edit-organization 
          formControlName='organization'
      ></edit-organization>
      
      <anchor-target name='common'></anchor-target>
      <h2>Общие сведения</h2>
      
       <edit-job
        [title] = '"Руководитель"'
        (onDelete) = 'onHeadDelete()'
        formControlName = 'head'
      ></edit-job>
      
      <n3k-select
        [title] = '"Регион"'
        [placeholder] = '"Регион"'
        [fromMethod] = 'regionService'
        formControlName = 'region'
      ></n3k-select>
      
      <n3k-select
        [title] = '"Район"'
        [placeholder] = '"Район"'
        [fromMethod] = 'districtService'
        formControlName = 'district'
      ></n3k-select>

      <n3k-input
        [title] = '"Наименование образовательной организации"'
        [placeholder] = '"Наименование образовательной организации"'
        formControlName = 'full_name'
      ></n3k-input>

      <n3k-input
        [title] = '"Краткое наименование"'
        [placeholder] = '"Краткое наименование"'
        formControlName = 'name'
      ></n3k-input>
            
      <n3k-select
        [title] = '"Смены"'
        [placeholder] = '"Смены"'
        [multi] = 'true'
        [fromMethod] = 'shiftService'
        formControlName = 'shift'
      ></n3k-select>
            
      <n3k-select
        [title] = '"Статус"'
        [placeholder] = '"Статус"'
        [fromMethod] = 'statusService'
        formControlName = 'status'
      ></n3k-select>
            
      <n3k-select
        [title] = '"Тип организации"'
        [placeholder] = '"Тип организации"'
        [fromMethod] = 'typeService'
        formControlName = 'type'
      ></n3k-select>
            
      <n3k-select
        [title] = '"Вид организации"'
        [placeholder] = '"Вид организации"'
        [fromMethod] = 'kindService'
        formControlName = 'kind'
      ></n3k-select>
            
      <n3k-select
        [title] = '"Тип местности"'
        [placeholder] = '"Тип местности"'
        [fromMethod] = 'terrainService'
        formControlName = 'terrain'
      ></n3k-select>

      <edit-work-time
        [title] = '"Время работы"'
        (onDelete) = 'onWorkTimeDelete($event)'
        formControlName = 'work_time'
      ></edit-work-time>

      <n3k-select
        [title] = '"Основной язык обучения"'
        [placeholder] = '"Основной язык обучения"'
        [fromMethod] = 'educationLanguageService'
        formControlName = 'education_language'
      ></n3k-select>

      <edit-address 
        [title] = '"Адреса обслуживаемой территории"'
        (onDelete) = 'onEducationAreaDelete($event)'
        formControlName = 'education_area'
      ></edit-address>

      <n3k-select
        [title] = '"Уровень образования"'
        [placeholder] = '"Уровень образования"'
        [multi] = 'true'
        [fromMethod] = 'levelsService'
        formControlName = 'levels'
      ></n3k-select>

      <edit-meals
        [title] = '"Питание"'
        (onDelete) = 'onMealDelete($event)'
        formControlName = 'meals'
      ></edit-meals>

      <n3k-select
        [title] = '"Типы групп ОВЗ доступные в ОО"'
        [placeholder] = '"Типы групп ОВЗ доступные в ОО"'
        [multi] = 'true'
        [fromMethod] = 'ovzGroupTypesService'
        formControlName = 'ovz_group_types'
      ></n3k-select>

      <n3k-datepicker 
        [options]="foundationDateOptions"
        formControlName="foundation_date"
      >
      </n3k-datepicker>


      <n3k-select
        [title] = '"Подведомственность"'
        [placeholder] = '"Подведомственность"'
        [fromMethod] = 'jurisdictionService'
        formControlName = 'jurisdiction'
      ></n3k-select>

      <n3k-wysiwyg
        [title] = '"Описание"'
        [placeholder] = '"Описание"'
        formControlName = 'description'
      ></n3k-wysiwyg>
     
      <!-- Картинка для анонса -->

      <edit-capacity
        [title] = '"Вместительность"'
        [limit] = '1'
        (onDelete) = 'onCapacityDelete($event)'
        formControlName = 'capacity'
      ></edit-capacity>

      <anchor-target name='additional'></anchor-target>

      <edit-meta
        formControlName = 'meta'
      ></edit-meta>

      <anchor-target name='public_administration'></anchor-target>

      <edit-public-administration
        formControlName = 'public_administration'
      ></edit-public-administration>

      <anchor-target name='contacts'></anchor-target>

      <h2>Контактная информация</h2>

      <edit-address 
        [title] = '"Почтовый адрес"'
        (onDelete) = 'onAddressDelete($event)'
        [limit] = '1'
        formControlName = 'address'
      ></edit-address>
      
      <edit-contacts
        formControlName = 'contacts'
      ></edit-contacts>

      <anchor-target name='contacts'></anchor-target>

      <h2>Акктредитация</h2>

      <edit-document
        formControlName = 'accreditation'
      ></edit-document>

      <anchor-target name='contacts'></anchor-target>

      <h2>Лицензия на осуществление образовательной деятельности</h2>

      <edit-document
        formControlName = 'license'
      ></edit-document>

      <div class='buttons-array' fly>
        <div class='create-new-btn btn' (click)='onSubmit()'>
            <span class='text'>Сохранить</span>
        </div> 

        <div class='transparent-btn btn' (click)='onCancel()'>
            <span class='text'>Отменить</span>
        </div>
      </div>
    </form>
  </column-1>
  <column-2>
    <anchor-menu 
      [list]='anchorList'
      [anchors]='anchors'
    ></anchor-menu>
  </column-2>
</n3k-columns>