<n3-input
  [title] = '"Серия бланка"'
  [placeholder] = '"Серия бланка"'
  [(ngModel)] = '_document.series'
  name = 'series'
></n3-input>

<n3-input
  [title] = '"Номер бланка"'
  [placeholder] = '"Номер бланка"'
  [(ngModel)] = '_document.number'
  name = 'number'
></n3-input>

<n3-input
  [title] = '"Реестровый номер свидетельства о государственной аккредитации образовательной деятельности для организаций, которые должны проходить аккредитацию"'
  [placeholder] = '"Реестровый номер свидетельства о государственной аккредитации образовательной деятельности для организаций, которые должны проходить аккредитацию"'
  [(ngModel)] = '_document.reg_number'
  name = 'reg_number'
></n3-input>

<n3-datepicker
  [options] = '_issueDateOptions'
  [(ngModel)] = '_document.issue_date'
  name = 'issue_date'
></n3-datepicker>

<n3-datepicker
  [options] = '_validToOptions'
  [(ngModel)] = '_document.valid_to'
  name = 'valid_to'
></n3-datepicker>