<fieldset [formGroup] = 'form'>
  
  <n3-input
    [title] = '"Номер телефона"'
    [placeholder] = '"Номер телефона"'
    formControlName = 'phone'
  ></n3-input>

  <n3-input
    [title] = '"Email"'
    [placeholder] = '"Email"'
    formControlName = 'email'
  ></n3-input>
  
  <n3-input
    [title] = '"Дополнительный номер"'
    [placeholder] = '"Дополнительный номер"'
    formControlName = 'additional_phone'
  ></n3-input>
  
  <n3-input
    [title] = '"Адрес сайта"'
    [placeholder] = '"Адрес сайта"'
    formControlName = 'site'
  ></n3-input>
  
  <n3-input
    [title] = '"Факс"'
    [placeholder] = '"Факс"'
    formControlName = 'fax'
  ></n3-input>

</fieldset>
