<n3-columns context='view'>
  <column-1>
    <div *ngIf='_territory'>
      <h1>{{_territory?.name}}</h1>
      <div class='buttons-array'>
        <div class='default-btn btn'>
            <span class='icon'><i class="fa fa-pencil" aria-hidden="true"></i></span>
            <span class='text'>Редактировать</span>
        </div>
        <div class='transparent-btn btn'>
            <span class='icon'><i class="fa fa-trash" aria-hidden="true"></i></span>
        </div> 
      </div>
    </div>

  </column-1>
  <column-2>
    <ul class='tree-list' >
      <li *ngFor='let territory of _territoryList?.items'>
        <div class='item' [class.active]='selectedTerritory === territory.identity.id' (click)='selectTerritory(territory.identity.id)'>
          <div class='item-delimiter'>&nbsp;</div>
          {{territory.name}}
        </div>
      </li>
    </ul>
  </column-2>
</n3-columns>