<n3-grid>
  <n3-header>
    <div class='main-menu'>
      <div class='logo'>
        <a [routerLink]="['/']">
          <img src = "https://placehold.it/180x60">
        </a>
      </div>
      <div class='pages'>
        <div class='content'>
          <ul>
            <li
              *ngFor = "let item of menuList"
            >
              <a [routerLink]="[item.link]" class="content" routerLinkActive='active'>
                <div class='icon'><i [class]='item.icon'></i></div>
                <div class='text'>{{item.name}}</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='main-sub-menu'>
      <div class='page' *ngFor="let item of sub">
        <a [routerLink]="[item.link]" class="content" routerLinkActive='active'>
          <div class='text'>{{item.name}}</div>
        </a>
      </div>
    </div>
  </n3-header>
  <router-outlet></router-outlet>
  <n3-footer></n3-footer>
</n3-grid>