<n3k-columns context='view'>
  <column-1>
    
  </column-1>
  <column-2>
    <ul>
      <li *ngFor='let department of departmentsList'>
        <div class='department' [class.active]='selecreddepartment === department.id' (click)='selecreddepartment = department.id'>
          <div class='delimiter'>&nbsp;</div>
          {{department.name}}
        </div>
        <ul>
          <li *ngFor='let children of department.childrens'>
            <div  class='children' [class.active]='selecreddepartment === children.id' (click)='selecreddepartment = children.id'>
              <div class='delimiter'>&nbsp;</div>
              {{children.name}}
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </column-2>
</n3k-columns>