/* You can add global styles to this file, and also import other style files */
html, body {
    padding: 0;
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

form {
    padding-bottom: 45px;
}

h1 {
    font-family: "RobotoSlab-Regular", "Roboto Slab";
    font-size: 42px;
    font-weight: normal;
    font-style: normal;
    line-height: 48px;
    color: #000;
}

h2 {
    font-family: 'RobotoSlab-Regular', 'Roboto Slab';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    color: #000;
}

h3 {
    font-family: "RobotoSlab-Regular", "Roboto Slab";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 26px;
    color: #000;
}

fieldset {
    border-width: 0;
    padding: 0;
}

.loading {
    line-height: 300px;
    text-align: center;
}

.horizontal-separator {
    line-height: 0px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #E3E3E3;
}

/***STATUS***/
.status-array {
    display: inline-block;
}

.status {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 13px;
    line-height: 21px;
    font-family: 'ArialMT', 'Arial';
    overflow: hidden
}

.status-array .status-deleted {
    background-color: #D8666C;
}

.status-array .status-1 {
    background-color: #5BAD5B;
}

/***STATUS***/

/***BTN***/
.buttons-array {
    display: inline-block;
}

.btn {
    padding: 8px 25px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    line-height: 21px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    display: inline-block;
    box-sizing: border-box;
}

.btn:hover {
    cursor: pointer;
}

.btn .text {
    font-family: ArialMT, Arial;
    font-style: normal;
    font-size: 13px;
}

.default-btn {
    background-color: #F2F2F2;
    color: #000;
    border-bottom-color: #DEDEDE;
}

.default-btn:hover {
    background-color: #DEDEDE;
}

.create-new-btn {
    background-color: #77D3EC;
    color: #fff;
    border-bottom-color: #38B6DE;
}

.create-new-btn:hover {
    background-color: #38B6DE;
}

.transparent-btn,
.transparent-btn:hover {
    background-color: transparent;
    border-bottom-color: transparent;
    font-weight: normal;
}
/***BTN***/



/***Tree-List***/
.tree-list {

}

.tree-list .item {
    color: #666666;
    line-height: 22px;
    font-family: 'ArialMT', 'Arial';
    font-size: 13px;
    background-color: #F2F2F2;
    border-top: 2px solid #fff; 
    border-bottom: 2px solid #fff; 
}

.tree-list .item:hover {
    cursor: pointer;
}

.tree-list .item.active {
    background-color: #fff;
}

.tree-list .item-delimiter {
    line-height: 22px;
    font-size: 13px;
    padding: 10px 0;
    background-color: #F2F2F2;
    width: 8px;
    margin-right: 25px;
    display: inline-block;
}

.tree-list .active .item-delimiter {
    background-color: #D8666C;
}

.tree-list .children {
    margin-left: 30px;
}

/***Tree-List***/

/***Description-Block***/
.description-block {
    font-family: 'ArialMT', 'Arial';
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 35px;
}

.description-block .description-block-title {
    color: #A1A1A1;
}
/***Description-Block***/